<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>

</head>
<div class="header">
    <link rel="stylesheet" href="pantalla.css" />
    <body>
        <img
        class="estilo"
            src="img/defecto.png">
        <h1 class="user_name">Nombre Usuario</h1>
</div>
<ul class="redes">
    <li>
        <i class="icon gmail"></i>
        <a href="https://gmail.com">Gmail</a>
    </li>
    <li>
        <i class="icon ulima"></i>
        <a href="https://miulima.com">Mi Ulima</a>
    </li>
</ul>
<div>
    <h3>Acerca de Usuario</h3>
    <p>
        <ul>
            <li>Carrera: Ingenieria de Sistemas</li>
            <li>Codigo: 20192527</li>
        </ul>

    </p>
</div>
</body>

</html>